body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8760b;
}

header {
    padding: 10px;
    text-align: center;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

h1, h2 {
    color: #333;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card img {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
}
.product-card img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #0644a7;
    color: white;
    position:relative;
    width: 100%;
    bottom: 0;
}
.hidden {
    display: none;
}

#cart {
    padding: 20px;
    margin: 20px;
}

#cart-items div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#cart-items p {
    font-size: 18px;
}

#cart-total {
    text-align: right;
    margin-top: 20px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#searchBar {
    padding: 10px;
    width: 50%;
    margin-top: 10px;
}

.filter-options {
    text-align: center;
    padding: 20px;
}

.filter-options label {
    margin: 0 15px;
    font-size: 18px;
}
